[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = false
name = "aliyun"

[packages]
flask = "*"
requests = "*"
lxml = "*"
numpy = "*"
gunicorn = "*"
redis = "*"
python-dotenv = "*"
wtforms = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.7"
